<tr>
  <td>
    <%= image_tag item.product.image_url, class: 'img-thumbnail', alt: item.product.name %>
  </td>
  <td><strong>Item Description:</strong><%=item.product.description%></td><br>
  <td><strong>Unit Price:</strong><%=humanized_money_with_symbol item.product.price_cents / 100.0 %></td><br>
  <td><strong>Quantity:</strong> <%= item.quantity %></td><br>
  <td><strong>Item Total:</strong><%= humanized_money_with_symbol item.total_price_cents / 100.0 %></td>
</tr>
